src/main/mule/Implementation/TravelOnTip-GetSchedules-Implementation-SAPI.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="TravelOnTip-GetSchedules-Implementation-SAPIFlow" doc:id="39d1b275-a4e1-4581-b382-d149f5439c95" >
		<http:request method="GET" doc:name="Request" doc:id="b233a12a-a212-4818-aea8-bf2dd06bd227" config-ref="HTTP_Request_configuration" path="${http.requester.schedulesPath}">
			<http:headers ><![CDATA[#[output application/java
---
{
	transactionId : vars.transactionId
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="6d032888-c5a4-4105-ae83-979b06fcfe16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map{
	availableSeats: $.AVAILABLESEATS,
	departureDateTime: $.DEPARTUREDATETIME,
	travelRoute: {
		destinationLoaction: $.TOLOCATION,
		originLocation: $.FROMLOCATION
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="405dd1ac-c2db-4be4-b75c-a00f3396240e" message="GetSchedules Log after getting request from external system for transactionId: #[vars.transactionId]"/>
	</flow>
</mule>
