src/main/mule/global/retriveroutesandschedules-travelontip-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <apikit:config name="retriveroutesandschedules-travelontip-sapi-config" api="retriveroutesandschedules-travelontip-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="retriveroutesandschedules-travelontip-sapi-main">
        <http:listener config-ref="retriveroutesandschedules-travelontip-sapi" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retriveroutesandschedules-travelontip-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <!-- [STUDIO:"retriveroutesandschedules-travelontip-sapi-console"]<flow name="retriveroutesandschedules-travelontip-sapi-console">
        <http:listener config-ref="retriveroutesandschedules-travelontip-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200&#93;">
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500&#93;">
                <http:body>#[payload&#93;</http:body>
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retriveroutesandschedules-travelontip-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{message: "Resource not found"}&#93;&#93;></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow> [STUDIO] -->
    <sub-flow name="retriveroutesandschedules-travelontip-sapiSub_Flow" doc:id="f2e50150-4752-4396-a616-dae6d0b62404" >
		<logger level="INFO" doc:name="Logger" doc:id="7a83454c-ea23-42a4-9da8-9f5b2b24f526" message="Entry log of TravelOnTip-SAPI "/>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retriveroutesandschedules-travelontip-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="3ea7c5cf-9906-4e05-a65e-f1c5240776c3" name="retriveroutesandschedules-travelontip-sapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="f62b5041-368d-4628-8a47-7240d547a050" message="GetRoutes entry Log after getting request from listener for transactionId: #[attributes.headers.transactionId]" />
		<flow-ref doc:name="Flow Reference" doc:id="60f354e1-9b00-4469-a873-c7026315ede0" name="TravelOnTip-GetRoutes-Implementation-SAPIFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="5213f5c6-4bf2-42c3-8ab6-8a3abf694a6f" message="GetRoutes Log after creating transactionId: #[vars.transactionId]" />
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retriveroutesandschedules-travelontip-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="c6bb56a9-fde5-4d9f-96be-e021dba334e0" name="retriveroutesandschedules-travelontip-sapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="c364ca01-4a83-4b31-af14-f97daee94d76" message="GetSchedules entry Log after getting request from listener for transactionId: #[attributes.headers.transactionId]" />
		<flow-ref doc:name="Flow Reference" doc:id="761a59a2-617f-48f6-85f2-2ead819f4528" name="TravelOnTip-GetSchedules-Implementation-SAPIFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="f161317c-88bf-4411-ab23-d1a18867b7c1" message="GetSchedules Log after creating transactionId: #[vars.transactionId]" />
    </flow>
</mule>
